@charset "utf-8";
@import "variables";

body {
  margin: 0;
  padding: 0;
  background-color: #161616;
}
html {
  scroll-behavior: auto;
}

#main {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background-color: $color-floral-white;
  position: relative;
  background-image: url("images/mads-schmidt-rasmussen-6YmzwamGzCg-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: $font-main;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 50px;
    background-color: $color-shadow-blue;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.05);
    z-index: 1;
  }

  .menu {
    display: flex;

    li {
      a {
        padding: 10px 15px;
        color: $color-dark-blue;
        font-size: 12px;

        &:hover, &.active {
          color: $color-white !important;
          font-weight: 700;
          transition: all ease 0.4s;
        }
      }
    }
  }

  .lang {
    color: $color-dark-grey;
  }

  .logo {
    font-size: 25px;
    font-weight: bold;
    color: $color-dark-grey;
  }

  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  .name {
    font-family: $font-main;
    width: 500px;
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translate(-20%, -50%);

    p:nth-child(1), .details {
      color: $color-dark-blue;
      font-size: 14px;
    }

    h1 {
      font-family: $font-main;
      font-size: 40px;
      margin: 0;
      letter-spacing: 2px;
      color: $color-dark-grey;

      span {
        color: $color-opal !important;
      }
    }

    .cv-btn {
      width: 200px;
      height: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $color-dark-grey;
      color: $color-white;

      &:hover {
        background-color: $color-white;
        color: $color-dark-grey;

      }
    }
  }

  .social {
    position: absolute;
    left: 50px;
    bottom: 50px;
    display: flex;

    a {
      margin: 6px 12px;

      &:hover i {
        color: $color-opal;
        transition: all ease 0.5s;
      }
    }

    i {
      color: rgba(18, 17, 17, 0.4);
      font-size: 16px;
    }
  }

}

#about {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 5% 0;

  .about-text {
    font-family: $font-main;
    width: 50%;

    h1 {
      font-size: 30px;
      color: $color-opal;
      margin: 0;
      padding: 0;
    }

    p {
      font-size: 16px;
      color: $color-floral-white;
    }
  }

  .about-image {
    img {
      margin: auto 50px;
      width: 35%;
    }
  }
}

#skills {
  width: 100%;
  height: 100vh;
  font-family: $font-main;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 40px;

  .skills-heading {
    text-align: center;
    margin: 20px 0;

    h1, p {
      margin: 0;
      padding: 0;
    }

    h1 {
      color: $color-white;
      font-size: 30px;
    }

    p {
      color: $color-floral-white;
      font-size: 16px;
    }
  }

  .skills-container {
    display: flex;
    justify-content: center;
    align-items: center;

    &-box {
      background-color: $color-dark-grey;
      width: 350px;
      height: 500px;
      margin: 20px;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 2px 2px 12px $color-dark-grey;
      position: relative;

      &:hover {
        transform: translateY(-10px);
        transition: all ease 0.3s;
      }

      &--img {
        width: 100%;
        height: 70%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &--type {
        font-family: $font-main;
        color: $color-white;
        background-color: #151515;
        padding: 10px 15px;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        font-size: 18px;
        border-radius: 0 0 10px 10px;
        box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
      }

      &--text {
        width: 100%;
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $color-dark-grey;

        a {
          margin: 0;
          color: $color-white;
          font-size: 14px;
          font-family: $font-main;
          display: block;
          display: -webkit-box;
          max-width: 80%;
          -webkit-line-clamp: 4;
          overflow: hidden;
          text-overflow: ellipsis;
          -webkit-box-orient: vertical;
          text-decoration: none;

          &:hover {
            color: rgba(255, 255, 255, 0.50);
          }
        }
      }
    }
  }
}

#portfolio {
  width: 100%;
  box-sizing: border-box;
  font-family: $font-main;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px 2% 20px;

  .portfolio-heading {
    font-family: $font-main;
    font-size: 1.7rem;
    text-align: center;
    color: $color-white;
    font-weight: 400;
    padding: 10px 20px;
    background-color: $color-dark-grey;
    letter-spacing: 2px;
    border-radius: 3px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.1);
  }

  .portfolio-container {
    width: 90%;
    height: 70vh;
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;

    &-box {
      background-color: #1f1f1f;
      overflow: hidden;
      border-radius: 10px;
      box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.3);
      position: relative;

      .text-overlay {
        display: none;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        font-family: $font-main;
        background-color: $color-opal;

        h2, p {
          color: $color-white;
        }

        h2 {
          font-size: 2.2rem;
          margin: 0;
          padding: 0;
          letter-spacing: 2px;
        }

        p {
          font-size: 1.2rem;
          margin: 0;
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &:hover {
        .text-overlay {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}

#contact-btn {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: #F4F7FF;
  margin: 20px 0;
  box-sizing: border-box;
  box-shadow: 2px 0 20px rgba(0, 0, 0, 0.4);

  .contact-btn-heading {
    font-size: 2rem;
    color: $color-dark-blue;
    font-family: $font-main;
    margin: 10px;
    padding: 5px;
    letter-spacing: 4px;
    border-bottom: 2px solid $color-dark-blue;
  }

  button {
    color: $color-white;
    font-size: 1rem;
    font-family: $font-main;
    width: 150px;
    height: 40px;
    margin: 10px;
    background-color: $color-opal;
    border: none;
    outline: none;
    box-shadow: 2px 5px 6px rgba(0, 0, 0, 0.2);

    &:hover {
      background-color: $color-opal;
      color: $color-dark-grey;
      transition: all ease 0.5s;
      font-weight: bold;
    }
  }
}

#contact-form {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .contact {
    display: flex;
    width: 70%;
    height: 60vh;
    background-color: $color-dark-grey;
    box-shadow: 2px 12px 20px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.01);

    &-left {
      width: 40%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      &-heading {
        font-family: $font-main;
        color: $color-white;
        font-size: 3rem;
        letter-spacing: 2px;
        font-weight: 400;

        span {
          border-bottom: 3px solid $color-opal;
        }
      }
    }

    &-right {
      width: 60%;
      height: 100%;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-left: 1px solid rgba(255, 255, 255, 0.08);

      button {
        width: 100%;
        height: 50px;
        background-color: $color-opal;
        font-weight: bold;
        outline: none;
        border: none;
        margin: 0;
        color: #1B1B1B;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 2px;

        &:active {
          transform: scale(1.04);
          transition: all ease 0.1s;
        }
      }

      textarea {
        width: 100% !important;
        height: 320px !important;
        border: none;
        outline: none;
        background-color: transparent;
        box-sizing: border-box;
        color: $color-floral-white;
        font-size: 16px;

        &::placeholder {
          color: #EBEBEB;
          font-size: 18px;
          letter-spacing: 2px;
          font-family: $font-main;
        }
      }

      .message {
        margin: 20px;

        span {
          font-size: 18px;
          color: #4E4E4E;
          font-family: $font-main;
        }
      }
    }
  }

  .form-name, .form-email {
    display: flex;
    flex-direction: column;
    font-family: $font-main;

    span {
      color: $color-floral-white;
      font-size: 22px;
    }

    input {
      height: 30px;
      width: 250px;
      border: none;
      outline: none;
      background-color: transparent;
      border-bottom: 1px solid $color-dark-blue;
      color: $color-white;
      margin: 10px 0;

      &::placeholder {
        opacity: 0.5;
        letter-spacing: 1px;
      }

      &:focus {
        border-bottom: 1px solid $color-opal;
        transition: all ease 0.5s;
      }
    }
  }
}