@media (max-width: 1240px) {

  #main {
    background-size: 1200px;

    .main {
      left: 10%;
      top: 50%;
      transform: translate(-10%, -50%);
    }
  }

  #about {
    height: auto !important;

    .about-image img {
      width: 50% !important;
    }
  }

  #skills {
    height: auto !important;
    padding-bottom: 40px !important;

    .skills-container {
      flex-wrap: wrap;

      &-box {
        flex-grow: 1;

        &--text {
          text-align: center;
        }
      }
    }
  }

  #contact-form form {
    width: 90% !important;
  }
}

@media (max-width: 768px) {

  #main {
    background-image: none !important;

    .toggle {
      display: block !important;

      &:before {
        content: '\f0c9';
        font-family: $font-main;
        //line-height: 0;
        //margin-left: -30px;
      }

      &.active:before {
        content: '\f00d' !important;
      }
    }

    .name {
      left: 50% !important;
      top: 50% !important;
      transform: translate(-50%, -50%) !important;
    }
  }
  #about {
    justify-content: center !important;
    padding-top: 0 !important;

    .about-image {
      display: none !important;
    }

    .about-text {
      width: 90% !important;

      h1 {
        font-size: 3rem !important;
      }
    }
  }

  #portfolio {
    .portfolio-container {
      width: 100% !important;
    }
  }
}